doctype html

html
    head
        title Splitter Demo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

    body(ng-app="app")
        h1 Splitter Demo
        main
