doctype html

html
    head
        title Splitter Demo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

    body(ng-app="app")
        h1 Splitter Demo
        main
            kp-splitter(orientation="horizontal")
                kp-splitter-pane(min-size="100" init-size="200")
                    .pane-container Pane 1
                kp-splitter-pane(min-size="100")
                    kp-splitter(orientation="vertical")
                        kp-splitter-pane(min-size="100" init-size="300")
                            .pane-container Pane 2
                        kp-splitter-pane(min-size="100")
                            .pane-container Pane 3
